@font-face {
    font-family: "Lineca-Bold";
    src: url("fonts/F37Lineca-Bold.otf");
    src: url("fonts/F37Lineca-Bold.otf") format("otf"),
        url("fonts/F37Lineca-Bold.ttf") format("ttf"),
        url("fonts/F37Lineca-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lineca-Medium";
    src: url("./fonts/F37Lineca-Medium.otf") format("otf"),
        url("./fonts/F37Lineca-Medium.ttf") format("ttf"),
        url("./fonts/F37Lineca-Medium.woff2") format("woff2");
    font-weight: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: "Lineca-Medium", Calibri, Tahoma, sans-serif;
}
